#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

.footer {
  background-color: #3a3a3a;
  padding: 1rem;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p {
  margin: 0;
  font-weight: bold;
}

.footer-links a {
  font-size: 16;
  margin-left: 16;
}

.lobbyparagraph {
  color: white;
  font-size: medium;
  font-weight: bold;
}

.terminaali {
  width: 600px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #1e1e1e;
  color: white;
  font-size: 14px;
  overflow: auto;
}

.xterm {
  text-align: left;
  /* Siirrä teksti vasemmalle. HUOM! Tämä tämä pois jos peli on päällä*/
}

/* Kontti, jossa komponentit ovat vierekkäin */
.test-components {
  display: flex; /* Flexbox, joka asettaa komponentit rinnakkain */
  justify-content: space-between; /* Jakaa tilan tasaisesti komponenttien välillä */
  padding: 20px; /* Lisää sisäistä marginaalia */
  gap: 20px; /* Välit komponenttien välillä */
}

/* GameCanvasin tyylit */
.gamecanvas {
  flex: 1; /* Komponentti vie tilaa tasaisesti flex-kontissa */
  font-size: 12px; /* Pienempi fonttikoko */
  padding: 10px;
  border: 1px solid #ccc; /* Ohut harmaa reuna */
  background-color: #f9f9f9; /* Vaalea taustaväri */
  border-radius: 5px; /* Pyöristetyt reunat */
}

/* ChatTerminalin tyylit */
.chatterminal {
  flex: 1; /* Komponentti vie tilaa tasaisesti flex-kontissa */
  padding: 10px;
  border: 1px solid #ccc; /* Ohut harmaa reuna */
  background-color: #f1f1f1; /* Vaalea taustaväri */
  border-radius: 5px; /* Pyöristetyt reunat */
}
